.content li{
    text-align:center;
}

.content ul{
    list-style: none;
    padding-left: 0;
    padding-bottom:25px;
    margin-bottom:0;
}

.content {
    width:100%; 
    margin:auto;
    padding-bottom: 25px;
    background-color: #88BDBC;
}

.pagecontent {
    margin: auto;
    width: 70%;
}

.content h1{
    text-align: center;
    color:black;
}

.caption {
    text-align: center;
    width:70%;
    margin:auto;
    margin-bottom: 25px;
    background-color:  #254E58;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: solid;
    border-width:3px;
    border-color:white;
}

.activityImage {
    margin-bottom: 10px;
    width:70%;
}

form {
    text-align: center;
    background-color: #88BDBC;
    color:#254E58;
    
}
 

textarea {
    width:70%;
    height: 200px;
    background-color:  #254E58;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom:20px;
    border-style: solid;
    border-width: 3px;
    border-color:white;
}

textarea:hover{
    background-color: white;
    color:#254E58;
    border-color:#254E58;
}

textarea:focus{
    background-color: white;
    color:#254E58;
    border-color:#254E58;
}

input{
    background-color: #254E58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom:20px;
    border-style: solid;
    border-width: 3px;
    border-color:white;
    text-align: center;
}

input:hover{
    background-color: white;
    color:#254E58;
    border-color:#254E58;
}

input:focus{
    background-color: white;
    color:#254E58;
    border-color:#254E58;
}

